name: Test Action

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run
        uses: ./
        with:
          playbook: playbook.yml
          options: |
            --inventory=localhost,
            --connection=local
            --verbose